@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  position: relative;
  padding: 30px;
  background-color: #ababab;
  min-height: 100vh;
}
@media (max-width: 864px) {
  body {
    padding: 90px 0px 100px;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: #321a1a;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
}
@media (max-width: 1270px) {
  .container {
    max-width: 805px;
  }
}
@media (max-width: 864px) {
  .container {
    max-width: 400px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(48, 48, 48, 0.691);
  width: 100%;
  height: 70px;
  padding: 25px;
  z-index: 2;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.header__link {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.header__list li a:hover {
  background-color: rgba(255, 255, 255, 0.628);
}
.header__list li a:hover {
  color: #000;
}

@media (max-width: 864px) {
  .header {
    padding: 14px;
    height: 50px;
  }
  .header__list {
    display: none;
  }
  .header__burger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #fff;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    left: 0;
  }
  .header__menu {
    display: grid;
    justify-items: end;
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  background-color: #616161;
  width: 100%;
  height: 70px;
  padding: 16px;
}
.footer__text {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  text-align: right;
}
@media (max-width: 864px) {
  .footer {
    min-width: 400px;
  }
}

.form {
  margin: 140px auto;
}
@media (max-width: 864px) {
  .form {
    margin: 0px auto 0px;
    min-width: 400px;
    padding: 30px 20px;
  }
}

.contact-blocks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1270px) {
  .contact-blocks {
    flex-direction: column;
  }
}

.contact-blocks-two {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1270px) {
  .contact-blocks-two {
    width: 100%;
  }
}
@media (max-width: 864px) {
  .contact-blocks-two {
    flex-direction: column;
    align-items: center;
  }
}

.contact-block {
  position: relative;
  display: inline-block;
  background-color: #6e6e6e;
  height: 200px;
  width: 200px;
  margin: 0px 0px 40px 0px;
}

.contact-block svg {
  position: absolute;
  width: 90px;
  top: 20px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.contact-block__info {
  width: 160px;
  padding: 10px 0;
  margin: 140px 20px 20px;
  background-color: #fff;
  font-family: "Charm", cursive;
  text-align: center;
  font-size: 16px;
}

.checkbox {
  margin: 0px 0px 0px 0px;
  display: flex;
}

.checkbox__input._error {
  box-shadow: 0 0 15px red;
}

.checkbox input {
  margin: 0px 20px 0px 0px;
  min-width: 20px;
  height: 20px;
  display: flex;
}
@media (max-width: 864px) {
  .checkbox input {
    width: 40px;
  }
}

.form__button {
  -webkit-user-select: none;
          user-select: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 16px/50px "Poppins";
  transition: all 0.18s ease-in-out;
  border: 1px solid #4d62d5;
  background: linear-gradient(to top right, #4e40c9, #489eea 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
  color: #4d62d5;
}

.form__button:hover {
  color: white;
  background-position: bottom left;
}