@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  position: relative;
  padding: 30px;
  background-color: #ababab;
  min-height: 100vh;
}
@media (max-width: 864px) {
  body {
    padding: 30px 0px 100px;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: #321a1a;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
}
@media (max-width: 1270px) {
  .container {
    max-width: 805px;
  }
}
@media (max-width: 864px) {
  .container {
    max-width: 400px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.69);
  width: 100%;
  height: 70px;
  padding: 25px;
  z-index: 2;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.header__link {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #d1d1d1;
  transition: all 0.3s ease 0s;
}
.header__list li a:hover {
  background-color: #d1d1d1;
}
.header__list li a:hover {
  color: #4e4e4e;
}

@media (max-width: 864px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    padding: 14px;
    height: 100%;
    transition: all 0.7s ease 0s;
    overflow: auto;
    -webkit-clip-path: circle(30px at calc(100% - 60px) calc(100% - 80px));
            clip-path: circle(30px at calc(100% - 60px) calc(100% - 80px));
  }
  .header__list {
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16vh;
    transition: all 0.5s ease 0s;
  }
  .header__list li {
    margin: 0px 0px 60px 0px;
  }
  .header__list.active__burger {
    opacity: 1;
    display: flex;
  }
  .header__link {
    font-size: 30px;
  }
  .header__burger {
    background-color: rgba(48, 48, 48, 0.69);
    display: block;
    position: fixed;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 30px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    left: 10px;
    background-color: #d1d1d1;
    transition: all 0.7s ease 0s;
  }
  .header__burger:before {
    top: 35%;
  }
  .header__burger:after {
    bottom: 35%;
  }
  .header__burger span {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #d1d1d1;
    top: calc(50% - 1px);
    left: 10px;
    transition: all 0.7s ease 0.3s;
  }
  .header__burger.active__burger:before {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  .header__burger.active__burger:after {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }
  .header__burger.active__burger span {
    transform: scale(0);
    transition: all 0.5s ease 0s;
  }
  .header.active__burger {
    background-color: rgba(48, 48, 48, 0.9);
    -webkit-clip-path: circle(1000px at calc(100% - 60px) calc(100% - 80px));
            clip-path: circle(1000px at calc(100% - 60px) calc(100% - 80px));
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #d1d1d1;
  background-color: #616161;
  width: 100%;
  height: 70px;
  padding: 16px;
}
.footer__text {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  text-align: right;
}
@media (max-width: 864px) {
  .footer {
    min-width: 400px;
  }
}

.form {
  margin: 40vh auto 0;
  transform: translate3d(0, -50%, 0);
}
@media (max-width: 1270px) {
  .form {
    margin: 80px auto 40px;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 864px) {
  .form {
    margin: 0px auto 0px;
    min-width: 400px;
    padding: 0px 20px;
  }
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
  color: #4e4e4e;
  text-shadow: 1px 1px 2px #757575;
  font-weight: 600;
}
@media (max-width: 864px) {
  h2 {
    font-size: 40px;
  }
}

.contact-blocks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1270px) {
  .contact-blocks {
    flex-direction: column;
  }
}

.contact-blocks a {
  color: black;
}

.contact-blocks-two {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1270px) {
  .contact-blocks-two {
    width: 100%;
  }
}
@media (max-width: 864px) {
  .contact-blocks-two {
    flex-direction: column;
    align-items: center;
  }
}

.contact-block {
  position: relative;
  display: inline-block;
  background-color: #6e6e6e;
  height: 200px;
  width: 200px;
  margin: 0px 0px 40px 0px;
  box-shadow: 1px 1px 8px 2px #313131;
}
@media (max-width: 864px) {
  .contact-block {
    height: 300px;
    width: 300px;
  }
}

.contact-block svg {
  position: absolute;
  width: 90px;
  top: 20px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  transition: all 0.3s ease 0s;
}
@media (max-width: 864px) {
  .contact-block svg {
    width: 140px;
  }
}

.first .contact-block svg {
  stroke: #333333;
}

.second .contact-block svg {
  fill: #333333;
}

.first .contact-block:hover svg {
  stroke: #1a1a1a;
}

.second .contact-block:hover svg {
  fill: #1a1a1a;
}

.contact-block__info a {
  display: inline-block;
  width: 160px;
  padding: 10px 0;
  margin: 140px 20px 20px;
  background-color: #d1d1d1;
  box-shadow: 0px 0px 2px 1px #313131;
  font-family: "Charm", cursive;
  text-align: center;
  font-size: 16px;
  color: #333333;
}
@media (max-width: 864px) {
  .contact-block__info a {
    margin-top: 200px;
    padding: 20px 0;
    width: 260px;
    font-size: 24px;
  }
}

.contact-block__info a:active {
  box-shadow: 0px 0px 4px 0px #313131;
  margin: 141px 21px 20px;
  padding: 9px 0;
  width: 158px;
}
@media (max-width: 864px) {
  .contact-block__info a:active {
    margin-top: 201px;
    padding: 19px 0;
    width: 258px;
    font-size: 24px;
  }
}

.checkbox {
  margin: 0px 0px 0px 0px;
  display: flex;
}

.checkbox__input._error {
  box-shadow: 0 0 15px red;
}

.checkbox input {
  margin: 0px 20px 0px 0px;
  min-width: 20px;
  height: 20px;
  display: flex;
}
@media (max-width: 864px) {
  .checkbox input {
    width: 40px;
  }
}

.form__button {
  -webkit-user-select: none;
          user-select: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 16px/50px "Poppins";
  transition: all 0.18s ease-in-out;
  border: 1px solid #4d62d5;
  background: linear-gradient(to top right, #4e40c9, #489eea 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
  color: #4d62d5;
}

.form__button:hover {
  color: white;
  background-position: bottom left;
}