@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  position: relative;
  padding: 30px;
  background-color: #ababab;
}
@media (max-width: 864px) {
  body {
    padding: 90px 0px 100px;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: #321a1a;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
}
@media (max-width: 1270px) {
  .container {
    max-width: 805px;
  }
}
@media (max-width: 864px) {
  .container {
    max-width: 400px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(48, 48, 48, 0.691);
  width: 100%;
  height: 70px;
  padding: 25px;
  z-index: 2;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.header__link {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.header__list li a:hover {
  background-color: rgba(255, 255, 255, 0.628);
}
.header__list li a:hover {
  color: #000;
}

@media (max-width: 864px) {
  .header {
    padding: 14px;
    height: 50px;
  }
  .header__list {
    display: none;
  }
  .header__burger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #fff;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    left: 0;
  }
  .header__menu {
    display: grid;
    justify-items: end;
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  background-color: #616161;
  width: 100%;
  height: 70px;
  padding: 16px;
}
.footer__text {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  text-align: right;
}
@media (max-width: 864px) {
  .footer {
    min-width: 400px;
  }
}

.grid-container {
  margin: 100px auto 80px;
  display: grid;
  grid-template: 1fr/300px minmax(400px, auto);
}
@media (max-width: 864px) {
  .grid-container {
    grid-template: 1fr/400px;
    margin: 0px auto;
    min-width: 400px;
  }
}

.resume {
  box-shadow: 0px 0px 8px 2px #888888;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  overflow: hidden;
}
.resume svg {
  position: absolute;
  left: -30px;
  top: -5px;
}
.resume h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}

.resume__left-side {
  padding: 100px 10px 50px 40px;
  background-color: #cacaca;
}
@media (max-width: 1270px) {
  .resume__left-side {
    padding: 60px 10px 50px 40px;
  }
}
@media (max-width: 864px) {
  .resume__left-side {
    padding: 30px 10px 30px 40px;
  }
}
.resume__image {
  position: relative;
  padding: 0px 0px 70% 0px;
  overflow: hidden;
  margin: 0px 0px 30px 0px;
}
.resume__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: top;
}
.resume__name {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
}
.resume__line {
  position: relative;
}
.resume__line span {
  position: absolute;
  display: inline-block;
  background-color: #000;
  height: 2px;
  width: 40px;
  top: -22px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.resume__profession {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
}
.resume__contacts {
  margin: 0px 0px 30px 0px;
}
.resume__contacts-number {
  position: relative;
  margin: 0px 0px 6px 0px;
  font-size: 16px;
}
.resume__contacts-email {
  position: relative;
  font-size: 16px;
}
.resume__links {
  margin: 0px 0px 30px 0px;
}
.resume__link-github {
  position: relative;
  font-size: 16px;
}
.resume__link-github a {
  color: #000;
}
.resume__details {
  margin: 0px 0px 30px 0px;
}
.resume__details-list li {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
}
.resume__details-list li p:first-child {
  text-decoration: underline;
  margin: 0px 0px 3px 0px;
}
.resume__skills-list li {
  position: relative;
  margin: 0px 0px 12px 16px;
  font-size: 16px;
}
.resume__skills-list li:before {
  content: "";
  position: absolute;
  left: -16px;
  top: 3px;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}

.resume__right-side {
  background-color: #fff;
  padding: 100px 80px 50px 50px;
}
@media (max-width: 1270px) {
  .resume__right-side {
    padding: 60px 40px 50px 40px;
  }
}
@media (max-width: 864px) {
  .resume__right-side {
    padding: 30px 20px 30px 20px;
  }
}
.resume__right-side h2 {
  margin: 0px 0px 30px 0px;
}

.right-side__text {
  font-size: 16px;
  word-spacing: 5px;
  text-indent: 50px;
  text-align: justify;
  line-height: 20px;
}