//<MIXINS>==================================================================================================================================================================
@import "mixins";
//</MIXINS>==================================================================================================================================================================

//<FONTS>==================================================================================================================================================================

//<CONNECTING FONTS>==================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
//</CONNECTING FONTS>==================================================================================================================================================================

//<DEFAULT FONT>==================================================================================================================================================================
$fontfamily: "Poppins", sans-serif;
//</DEFAULT FONT>==================================================================================================================================================================

//</FONTS>==================================================================================================================================================================

//<VARIABLES>==================================================================================================================================================================================

//<BREAKPOINTS>==================================================================================================================================================================================
$minwidth: 320px;
$bp1: 1270px;
$bp2: 864px;
//</BREAKPOINTS>=================================================================================================================================================================================

//===============================================================================================================================================================================================

//</VARIABLES>=================================================================================================================================================================================

//<NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================
@import "nullstyle";

body {
	position: relative;
	padding: 100px;
	background: #e9f6fd;
	background: -moz-linear-gradient(top, #e9f6fd 0%, #6da9c5 100%);
	background: -webkit-linear-gradient(top, #e9f6fd 0%, #5693af 100%);
	background: linear-gradient(to bottom, #e9f6fd 0%, #59a1c2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 );
	min-height: 100vh;
	@media (max-width: $bp2) {
		padding: 0px;
	}
}
//</NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================

//<SCROLLBAR>=====================================================================================================================================================================================
html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 87%);
}
html::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 100%);
}
::-webkit-scrollbar-track {
	background-color: hsl(0, 32%, 15%);
}
//</SCROLLBAR>====================================================================================================================================================================================

//<WRAPPER>=====================================================================================================================================================================================

//</WRAPPER>====================================================================================================================================================================================

//<MAIN GRID>===============================================================================================================================================================================
.container {
	margin: 0 auto;
	max-width: 1210px;
	@media (max-width: $bp1) {
		max-width: 805px;
	}
	@media (max-width: $bp2) {
		max-width: 400px;
	}
}
//</MAIN GRID>==============================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================================================================
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============================================================================================================================================

//<MAIN PART>================================================================================================================================================================================
.image {
	margin: 0 auto;
	width: 400px;
	margin-bottom: 30px;
}
.image img {
	margin: 0 auto;
	width: 400px;
}
//===============================================================================================================================================================================================

//===============================================================================================================================================================================================

//</MAIN PART>===============================================================================================================================================================================
