//<MIXINS>==================================================================================================================================================================
@import "mixins";
//</MIXINS>==================================================================================================================================================================

//<FONTS>==================================================================================================================================================================

//<CONNECTING FONTS>==================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
//</CONNECTING FONTS>==================================================================================================================================================================

//<DEFAULT FONT>==================================================================================================================================================================
$fontfamily: "Poppins", sans-serif;
//</DEFAULT FONT>==================================================================================================================================================================

//</FONTS>==================================================================================================================================================================

//<VARIABLES>==================================================================================================================================================================================

//<BREAKPOINTS>==================================================================================================================================================================================
$minwidth: 320px;
$bp1: 1270px;
$bp2: 864px;
//</BREAKPOINTS>=================================================================================================================================================================================

//===============================================================================================================================================================================================

//</VARIABLES>=================================================================================================================================================================================

//<NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================
@import "nullstyle";

body {
	position: relative;
	padding: 100px;
	background: #e9f6fd;
	background: -moz-linear-gradient(top, #e9f6fd 0%, #6da9c5 100%);
	background: -webkit-linear-gradient(top, #e9f6fd 0%, #5693af 100%);
	background: linear-gradient(to bottom, #e9f6fd 0%, #59a1c2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 );
	min-height: 100vh;
	@media (max-width: $bp2) {
		padding: 0px;
		min-height: 800px;
		height: 100vh;
	}
}
//</NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================

//<SCROLLBAR>=====================================================================================================================================================================================
html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 87%);
}
html::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 100%);
}
html::-webkit-scrollbar-track {
	background-color: hsl(0, 32%, 15%);
}
//</SCROLLBAR>====================================================================================================================================================================================

//<WRAPPER>=====================================================================================================================================================================================

//</WRAPPER>====================================================================================================================================================================================

//<MAIN GRID>===============================================================================================================================================================================
.container {
	margin: 0 auto;
	max-width: 1210px;
	@media (max-width: $bp1) {
		max-width: 805px;
	}
	@media (max-width: $bp2) {
		max-width: 400px;
	}
}
//</MAIN GRID>==============================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================================================================
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============================================================================================================================================

//<MAIN PART>================================================================================================================================================================================
.form {
	margin: 100px auto;
	background-color: rgb(241, 249, 251);
	color: #000;
	border-radius: 20px;
	border: 1px solid #5693af;
	overflow: hidden;
	box-shadow: 1px 1px 10px -4px #000;
	padding: 30px 50px;
	@media (max-width: $bp2) {
		margin: 100px auto 50px;
		min-width: 400px;
		padding: 30px 20px;
	}
	.attention {
		font-size: 30px;
	}
	input {
		border: 1px solid rgb(165, 165, 165);
		border-radius: 10px;
		height: 40px;
		min-width: 100%;
		padding: 0px 10px;
		font-size: 20px;
		&::placeholder {
			color: rgb(175, 175, 175);
		}
		@media (max-width: $bp2) {
			width: 358px;
		}
	}
	textarea {
		border: 1px solid rgb(165, 165, 165);
		border-radius: 10px;
		padding: 10px;
		font-size: 16px;
		width: 100%;
		min-height: 100px;
		overflow: auto;
		resize: none;
		&::placeholder {
			color: rgb(175, 175, 175);
		}
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: hsla(0, 0%, 0%, 0);
		}
		&::-webkit-scrollbar-track {
			background-color: hsla(0, 0%, 0%, 0);
		}
	}

	&__body {
		font-size: 20px;
		position: relative;
	}
	&__body::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: hsla(0, 0%, 100%, 0.801) url("../img/Spinner-3.gif") center / 50px no-repeat;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
	}
	&__body._sending::after {
		opacity: 1;
		visibility: visible;
	}

	&__title {
		font-size: 30px;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0px 0px 30px 0px;
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		@media (max-width: $bp1) {
			flex-direction: column;
		}
	}

	&__item {
		width: 100%;
		margin: 0px 10px 20px 0px;
	}
	& .third {
		margin: 0px 0px 20px 0px;
	}

	&__label {
	}

	&__input {
	}
	&__input:focus {
		box-shadow: 0 0 15px rgb(149, 149, 149);
	}
	&__input._error {
		box-shadow: 0 0 15px rgb(255, 0, 0);
	}
}
.file {
	&__item {
	}

	&__input {
	}
}
.form {
	&__item {
	}

	&__label {
	}
}
.attach {
}
.label-file {
}
.file {
	&__item {
		position: relative;
		width: 120px;
		cursor: pointer;
	}

	&__input {
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 0;
	}

	&__button {
		margin: 10px 0px 0px 0px;

		display: inline-flex;
		min-height: 40px;
		border-radius: 10px;
		justify-content: center;
		align-items: center;
		padding: 0px 20px;
		transition: all 0.18s ease-in-out;
		border: 1px solid hsl(231, 62%, 57%);
		color: hsl(231, 62%, 57%);
	}

	&__preview {
		display: inline-block;
		max-width: 100px;
		padding: 10px 0px 0px 0px;
	}
	&__preview img {
		max-width: 100%;
	}
}
.checkbox {
	&__input {
	}

	&__label {
	}
}

//===============================================================================================================================================================================================
.checkbox {
	margin: 0px 0px 0px 0px;
	display: flex;
}
.checkbox__input._error {
	box-shadow: 0 0 15px rgb(255, 0, 0);
}
.checkbox input {
	margin: 0px 20px 0px 0px;

	min-width: 20px;
	height: 20px;
	display: flex;
	@media (max-width: $bp2) {
		width: 40px;
	}
}
//===============================================================================================================================================================================================
.form__button {
	user-select: none;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	display: block;
	font: 16px/50px "Poppins";
	transition: all 0.18s ease-in-out;
	border: 1px solid hsl(231, 62%, 57%);
	background: linear-gradient(
			to top right,
			hsl(246, 56%, 52%),
			hsl(208, 79%, 60%) 20%,
			hsla(0, 0%, 100%, 0) 80%,
			hsla(0, 0%, 100%, 0)
		)
		top right/500% 500%;
	color: hsl(231, 62%, 57%);
}
.form__button:hover {
	color: white;
	background-position: bottom left;
}

//</MAIN PART>===============================================================================================================================================================================
