.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 19%, 0.69);
	width: 100%;
	height: 70px;
	padding: 25px;
	z-index: 2;
	&__burger {
		display: none;
	}
	&__menu {
	}
	&__list {
		display: flex;
		justify-content: space-around;
	}
	&__link {
		border: 1px solid hsl(0, 0%, 82%);
		border-radius: 10px;
		padding: 10px 20px;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		color: hsl(0, 0%, 82%);
		transition: all 0.3s ease 0s;
	}
	&__list li a:hover {
		background-color: hsl(0, 0%, 82%);
	}
	&__list li a:hover {
		color: rgb(78, 78, 78);
	}
}
@media (max-width: $bp2) {
	body.lock {
		overflow: hidden;
	}
	.header {
		padding: 14px;
		height: 100%;
		transition: all 0.7s ease 0s;
		overflow: auto;
		clip-path: circle(30px at calc(100% - 60px) calc(100% - 80px));
		&__list {
			opacity: 0;
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 16vh;
			transition: all 0.5s ease 0s;
			li {
				margin: 0px 0px 60px 0px;
			}
			&.active__burger {
				opacity: 1;
				display: flex;
			}
		}
		&__link {
			font-size: 30px;
		}
		&__burger {
			background-color: hsla(0, 0%, 19%, 0.69);
			display: block;
			position: fixed;
			border-radius: 50%;
			overflow: hidden;
			width: 60px;
			height: 60px;
			bottom: 50px;
			right: 30px;

			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 40px;
				height: 2px;
				left: 10px;
				background-color: hsl(0, 0%, 82%);
				transition: all 0.7s ease 0s;
			}
			&:before {
				top: 35%;
			}
			&:after {
				bottom: 35%;
			}
			& span {
				position: absolute;
				width: 40px;
				height: 2px;
				background-color: hsl(0, 0%, 82%);
				top: calc(50% - 1px);
				left: 10px;
				transition: all 0.7s ease 0.3s;
			}
			&.active__burger {
				&:before {
					@include rotate(45deg);
					top: calc(50% - 1px);
				}
				&:after {
					@include rotate(-45deg);
					bottom: calc(50% - 1px);
				}
				span {
					@include scale(0);
					transition: all 0.5s ease 0s;
				}
			}
		}
		&__menu {
		}
	}
	.header.active__burger {
		background-color: hsla(0, 0%, 19%, 0.9);
		clip-path: circle(1000px at calc(100% - 60px) calc(100% - 80px));
	}
}
