//<MIXINS>==================================================================================================================================================================
@import "mixins";
//</MIXINS>==================================================================================================================================================================

//<FONTS>==================================================================================================================================================================

//<CONNECTING FONTS>==================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
//</CONNECTING FONTS>==================================================================================================================================================================

//<DEFAULT FONT>==================================================================================================================================================================
$fontfamily: "Poppins", sans-serif;
//</DEFAULT FONT>==================================================================================================================================================================

//</FONTS>==================================================================================================================================================================

//<VARIABLES>==================================================================================================================================================================================

//<BREAKPOINTS>==================================================================================================================================================================================
$minwidth: 320px;
$bp1: 1270px;
$bp2: 864px;
//</BREAKPOINTS>=================================================================================================================================================================================

//===============================================================================================================================================================================================

//</VARIABLES>=================================================================================================================================================================================

//<NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================
@import "nullstyle";

body {
	position: relative;
	padding: 30px;
	background-color: hsla(0, 0%, 67%);
	@media (max-width: $bp2) {
		padding: 10px 0px 100px;
	}
}
//</NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================

//<SCROLLBAR>=====================================================================================================================================================================================
html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 87%);
}
html::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 100%);
}
::-webkit-scrollbar-track {
	background-color: hsl(0, 32%, 15%);
}
//</SCROLLBAR>====================================================================================================================================================================================

//<WRAPPER>=====================================================================================================================================================================================

//</WRAPPER>====================================================================================================================================================================================

//<MAIN GRID>===============================================================================================================================================================================
.container {
	margin: 0 auto;
	max-width: 1210px;
	@media (max-width: $bp1) {
		max-width: 805px;
	}
	@media (max-width: $bp2) {
		max-width: 400px;
	}
}
//</MAIN GRID>==============================================================================================================================================================================

//<CONNECTING PAGE STYLE FILES AND ELEMENTS>===============================================================================================================================================
@import "header";
@import "footer";
//</CONNECTING PAGE STYLE FILES AND ELEMENTS>==============================================================================================================================================

//<MAIN PART>================================================================================================================================================================================
.grid-container {
	margin: 100px auto 80px;
	display: grid;
	grid-template: 1fr / 300px minmax(400px, auto);
	@media (max-width: $bp2) {
		grid-template: 1fr / 400px;
		margin: 0px auto;
		min-width: 400px;
	}
}
.resume {
	box-shadow: 0px 0px 8px 2px rgb(136, 136, 136);
	border: 1px solid hsl(0, 0%, 56%);
	border-radius: 10px;
	overflow: hidden;
	svg {
		position: absolute;
		left: -30px;
		top: -5px;
	}
	h2 {
		font-size: 20px;
		font-weight: 600;
		margin: 0px 0px 10px 0px;
	}
}

//<LEFT SIDE>===============================================================================================================================================================================================
.resume {
	&__left-side {
		padding: 100px 10px 50px 40px;
		background-color: rgb(202, 202, 202);
		@media (max-width: $bp1) {
			padding: 60px 10px 50px 40px;
		}
		@media (max-width: $bp2) {
			padding: 30px 10px 30px 40px;
		}
	}

	&__image {
		position: relative;
		padding: 0px 0px 70% 0px;
		overflow: hidden;
		margin: 0px 0px 30px 0px;
	}

	&__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
		object-position: top;
	}

	&__name {
		text-align: center;
		font-size: 26px;
		font-weight: 600;
		margin: 0px 0px 40px 0px;
	}

	&__line {
		position: relative;
	}
	&__line span {
		position: absolute;
		display: inline-block;
		background-color: #000;
		height: 2px;
		width: 40px;
		top: -22px;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	}

	&__profession {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		margin: 0px 0px 40px 0px;
	}

	&__contacts {
		margin: 0px 0px 30px 0px;
	}

	&__contacts-title {
	}

	&__contacts-number {
		position: relative;
		margin: 0px 0px 6px 0px;
		font-size: 16px;
	}

	&__contacts-image {
	}

	&__contacts-email {
		position: relative;
		font-size: 16px;
	}

	&__links {
		margin: 0px 0px 30px 0px;
	}

	&__links-title {
	}

	&__link-github {
		position: relative;
		font-size: 16px;
	}
	&__link-github a {
		color: #000;
	}

	&__details {
		margin: 0px 0px 30px 0px;
	}

	&__details-title {
	}

	&__details-list {
	}
	&__details-list li {
		margin: 0px 0px 10px 0px;
		font-size: 16px;
	}
	&__details-list li p:first-child {
		text-decoration: underline;
		margin: 0px 0px 3px 0px;
	}

	&__skills {
	}

	&__skills-title {
	}

	&__skills-list {
	}
	&__skills-list li {
		position: relative;
		margin: 0px 0px 12px 16px;
		font-size: 16px;
	}
	&__skills-list li:before {
		content: "";
		position: absolute;
		left: -16px;
		top: 3px;
		width: 5px;
		height: 5px;
		background-color: #000;
		border-radius: 50%;
	}
}
//<RIGHT SIDE>===============================================================================================================================================================================================
.resume {
	&__right-side {
		background-color: hsla(0, 0%, 100%, 0.8);
		padding: 100px 80px 50px 50px;
		@media (max-width: $bp1) {
			padding: 60px 40px 50px 40px;
		}
		@media (max-width: $bp2) {
			padding: 30px 20px 30px 20px;
		}
		& h2 {
			margin: 0px 0px 30px 0px;
		}
	}
}
.right-side__text {
	font-size: 16px;
	word-spacing: 5px;
	text-indent: 50px;
	text-align: justify;
	line-height: 20px;
}
//<RIGHT SIDE>===============================================================================================================================================================================================

//</MAIN PART>===============================================================================================================================================================================
