//<MIXINS>==================================================================================================================================================================
@import "mixins";
//</MIXINS>==================================================================================================================================================================

//<FONTS>==================================================================================================================================================================

//<CONNECTING FONTS>==================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
//</CONNECTING FONTS>==================================================================================================================================================================

//<DEFAULT FONT>==================================================================================================================================================================
$fontfamily: "Poppins", sans-serif;
//</DEFAULT FONT>==================================================================================================================================================================

//</FONTS>==================================================================================================================================================================

//<VARIABLES>==================================================================================================================================================================================

//<BREAKPOINTS>==================================================================================================================================================================================
$minwidth: 320px;
$bp1: 1270px;
$bp2: 864px;
//</BREAKPOINTS>=================================================================================================================================================================================

//===============================================================================================================================================================================================

//</VARIABLES>=================================================================================================================================================================================

//<NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================
@import "nullstyle";
//===============================================================================================================================================================================================
body {
	position: relative;
	height: 100vh;
	background-color: hsla(0, 0%, 67%);
	@media (max-width: $bp2) {
		padding: 30px 0px 100px;
	}
}
//</NULLSTYLE, GLOBAL PARAMETERS>==================================================================================================================================================================

//<SCROLLBAR>=====================================================================================================================================================================================
html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 87%);
}
html::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 100%);
}
::-webkit-scrollbar-track {
	background-color: hsl(0, 0%, 33%);
}
//</SCROLLBAR>====================================================================================================================================================================================

//<WRAPPER>=====================================================================================================================================================================================

//</WRAPPER>====================================================================================================================================================================================

//<MAIN GRID>===============================================================================================================================================================================
.container {
	margin: 0 auto;
	max-width: 1210px;
	@media (max-width: $bp1) {
		max-width: 805px;
	}
	@media (max-width: $bp2) {
		max-width: 400px;
	}
}
//</MAIN GRID>==============================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================================================================
@import "header";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============================================================================================================================================

//<MAIN PART>================================================================================================================================================================================
.label-hello:after {
	content: "Hello.";
	transition: all 0.3s ease 0s;
}
.label-hello:hover:after {
	content: "About";
	margin: 0px 0px 0px 40px;
	color: rgb(26, 26, 100);
}
.label-iam:after {
	content: "I'm";
	transition: all 0.3s ease 0s;
}
.label-iam:hover:after {
	content: "Works";
	margin: 0px 0px 0px 40px;
	color: rgb(26, 26, 100);
}
.label-front-end:after {
	content: "Front-End";
	transition: all 0.3s ease 0s;
}
.label-front-end:hover:after {
	content: "Resume";
	margin: 0px 0px 0px 40px;
	color: rgb(26, 26, 100);
}
.label-developer:after {
	content: "Developer";
	transition: all 0.3s ease 0s;
}
.label-developer:hover:after {
	content: "Contact me";
	margin: 0px 0px 0px 40px;
	color: rgb(26, 26, 100);
}
.color-blue {
	color: rgb(26, 26, 100);
}
//===============================================================================================================================================================================================
.animate {
	-webkit-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

@-webkit-keyframes animate {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(30vh);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
//===============================================================================================================================================================================================
.delay02 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.delay04 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.delay06 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.delay08 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.delay10 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay12 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
//===============================================================================================================================================================================================
h1 {
	position: fixed;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	line-height: 110%;
	letter-spacing: -2px;
	font-size: 18vmin;
	color: rgb(78, 78, 78);
	text-shadow: 1px 1px 2px rgb(117, 117, 117);
	font-weight: 600;
	a {
		color: rgb(78, 78, 78);
		text-shadow: 1px 1px 2px rgb(117, 117, 117);
		font-weight: 600;
	}
	@media (max-width: $bp1) {
		font-size: 18vmin;
	}
	@media (max-width: $bp2) {
		font-size: 10vmin;
		left: 20px;
	}
}
//===============================================================================================================================================================================================
lottie-player {
	opacity: 0.3;
	position: fixed;
	top: 0%;
	right: 0%;
	width: 100vh;
	height: 100vh;
	background-size: cover;
}
//===============================================================================================================================================================================================
.hide-mobile {
	display: none;
}
.hide-title {
	display: none;
}
.tap-info {
	display: none;
}
//===============================================================================================================================================================================================
@media (max-width: $bp2) {
	.hide-web {
		display: none;
	}
	.hide-title {
		display: block;
	}
	.tap-info {
		display: block;
		text-align: center;
		font-family: "Medium";
		color: #7e0000;
		position: fixed;
		bottom: 4%;
		left: 50%;
		font-size: 3.6vmin;
		animation: bounce 0.5s cubic-bezier(0.5, 0.6, 0.6, 1) infinite alternate;
	}
	@keyframes bounce {
		from {
			transform: translate(-50%, 0px);
		}
		to {
			transform: translate(-50%, -8px);
		}
	}
}
//</MAIN PART>===============================================================================================================================================================================
